.ProgressBar-Flex {
  display: flex;
}

.ProgressBar {
  position: relative;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  flex: 1;
}

.ProgressBar-Content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ProgressBar-Content > div {
  z-index: 1;
  align-self: center;
}

.ProgressBar-Content-Percentage {
  font-size: 12px;
  margin-left: 10px;
}

.ProgressBar-Background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100%;
}